html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 24px;
    color: #595a6a;
    box-sizing: border-box;
}

#root {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}